{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Hello! Darts Map</title>
    <link href="{% static 'css/map.css' %}" rel='stylesheet' type='text/css'/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&language=ja&key=AIzaSyBUCZztWDEPd3xVQyP0I09I7TMpy_XDPhg"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
    <link href='https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css' rel='stylesheet' type='text/css'/>
    <link href='https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css' rel='stylesheet' type='text/css'/>
    <script src='https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js'></script>

  </head>
  <body>
    <div id="map" class="map"></div>
  </body>
  <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
</html>
